@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/IDroid.otf') format(opentype);
    font-weight: normal;
    font-size: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #2fa866; 
    --cor3: #1a5c37; 
    --cor4: #063d1e;
    --cor5: #042210;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'android', cursive;
}

*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color:var(--cor0);
   font-family: var(--fonte-padrao);
   
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    padding-top: 30px;
    min-width: 150px;

}

header>h1  {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
    margin: auto;
}

header>p {
    color: white;
    width: 500px;
    text-align: center;
    font-weight: normal;
    margin: auto;
    padding-bottom: 15px;
    
}

nav {
    background-color: var(--cor5);
    padding: 5px;
    margin: 0px;
    
    
}

nav>a {
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;

}

nav>a:hover {
    background-color: var(--cor2);
    border-radius: 2px;
    transition: .5s;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), white);
    text-indent: 2px;
}

main p {
    text-indent: 30px;
    text-align: justify;
    padding: 2px 6px;
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bolder;
    background-color: var(--cor1);
    padding: 1px 6px;

}

main a:hover {
    color: var(--cor1);
    background-color: var(--cor3);
    transition: .2s;
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.bugdroid {
    width: 50%;
    display: block;
    margin: auto;
}

.video {
    background-color: var(--cor5);
    margin: 0px -10px 30px -10px;
     padding: 20px; 
     padding-bottom: 59%;
    position: relative;
}

.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor0);
    padding: 5px;
    border-radius: 5px;
}

aside ul {
    columns: 2;
    padding: 10px;
    list-style-position: inside;
    list-style-type: "\1F5F8\00A0\00A0" ;
}

aside h3 {
    background-color: var(--cor4);
    padding: 5px;
    margin: -5px -5px 0px -5px;
    border-radius: 5px 5px 0px 0px;
}



footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color: var(--cor1);
    text-decoration: none;
}

footer a:hover {
    color: var(--cor2);
    text-decoration: underline;
}
